/* ============ COMMON STYLES ============ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a { 
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
}
.contacts-nav {
    font-style: normal
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-paddings {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ============ HEADER STYLES ============ */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.page-navigation {
    display: flex;
    align-items: center;
}
.page-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    font-weight: 700;
}
.gray-logo {
    color: #2e2f42;
    ;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus, 
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}
.current::after {
    content: "";
    position: absolute;
    background: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;
}
.contacts {
    display: flex;
    gap: 40px;
}
.contacts-nav {
    margin-left: auto;
}
.contacts-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


/* ============ HERO STYLES ============ */
.hero {
    background-color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
}

.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #ffffff;
        text-align: center;
        max-width: 496px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
}

.order-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
        background: #404bbf;
}

/* ============ BENEFITS STYLES ============ */
.benefits {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-item {
    width: calc((100% - 72px) / 4);
}
.benefits-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    min-width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

.benefits-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 8px;
}
.team-item {
    background-color: #FFFFFF;
}
.benefits-list-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.social-link-list {
    display: flex;
    gap: 24px;
    margin-right: 16px;
    margin-left: 16px;
}
.soc-links-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    margin-top: 8px;
}
.social-list {
    stroke: #f4f4fd;
}

/* ============ TEAM STYLES ============ */
.team {
    display: flex;
    margin-top: 72px;
    background-color: #f4f4fd;
    gap: 24px;
    justify-content: center;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-info {
    padding: 32px 0 32px;
}
.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}
.team-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}
.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
    text-align: center;
}
.social-link-list {
    justify-content: center;
}
.soc-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, 
.soc-link:focus {
    background-color: #404bbf;
}
.social-list {
    fill: #f4f4fd;
}
.socials-team {
    display: flex;
    margin-top: 8px;
    gap: 24px;
}

/* ============ PORTFOLIO STYLES ============ */
.portfolio {
    font-weight: 700;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    row-gap: 48px;
    column-gap: 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    font-weight: 500;
}
.portfolio-container {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}
.portfolio-list-item {
    margin-bottom: 48px;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-box {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.overlay-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-size: 16px;
    padding: 40px 32px;
    background-color: #4D5AE5;
    /* overflow: auto; */
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay-content {
    transform: translateY(0%);
}
.portfolio-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ============ FOOTER STYLES ============ */

.page-bottom {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bottom-container {
    margin-right: 120px;
}
.footer-column {
    display: flex;
    padding-right: 692px;
    align-items: baseline;
}

.white-logo {
    color: #f4f4fd;
}
.logo-bottom {
    display: inline-block;
    margin-bottom: 16px;
}
.bottom-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 16px;
    width: 264px;
    font-size: 16px;
}
.socials-header {
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    margin-bottom: 16px;
}
.footer-social-link-list {
    display: flex;
    gap: 16px;
}
.soc-link-footer {
    display: flex;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}
.soc-link-footer:hover,
.soc-link-footer:focus {
    background-color: #31d0aa;
}
.subscribe-form {
    margin-left: 80px;
}
.footer-subscribe-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-subscribe-form {
    display: flex;
    gap: 24px;
}
.footer-email-input {
    border: 1px solid #ffffff;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}
.footer-email-input::placeholder {
    color #ffffff;
}
.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
.subscribe-telegram-icon {
    margin-left: 16px;
}


/* ============ BACKDROP STYLES ============ */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 72px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    min-height: 584px;
    width: 408px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    padding: 0px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    stroke: #2e2f42;
    line-height: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover .modal-close-btn-icon,
.modal-close-button:focus .modal-close-btn-icon {
    fill: #FFFFFF;
}
.call-back-field-wrapper {
    margin-bottom: 8px;
}
.call-back-form-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    min-width: 360px;
}
.call-back-form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.call-back-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    margin-bottom: 8px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-back-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}
.call-back-form-input:focus + .call-back-label-icon {
    fill: #4d5ae5;
}

.call-back-label-icon {
    position: absolute;
    fill: #2e2f42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-input-wrapper {
    position: relative;
    margin-bottom: 8px;
}
.call-back-comment-textarea {
    margin-bottom: 16px;
}
.call-back-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 360px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-back-comment:focus {
    border-color: #4d5ae5;
    outline: transparent;
}
.call-back-comment::placeholder {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    font-weight: 400;
}

.call-back-form-checkbox {
    margin-bottom: 24px;
}
.call-back-form-checkbox-label {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-weight: 400;
    line-height: 1.17;
}
.call-back-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy-link {
    line-height: 1.33333;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    text-decoration: underline;
}
.call-back-form-checkbox {
    margin-top: 8px;
}
.call-back-checkbox:checked + .call-back-form-checkbox-label .call-back-own-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}
.call-back-checkbox:focus +.call-back-form-checkbox-label .call-back-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}
.call-back-btn-submit {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin-top: 24px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
