/* ============ COMMON STYLES ============ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.contacts-nav {
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
}
.section-paddings {
    padding-top: 96px;
    padding-bottom: 96px;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container { 
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    }
}

/* ============ HEADER STYLES ============ */
.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.page-header-menu {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-nav {
    display: none;
}
.open-menu-btn {
    border: none;
    line-height: 0;
    background-color: transparent;
    padding: 0px;
    fill: #2f2f37;
}
.page-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    font-weight: 700;
}

.gray-logo {
    color: #2e2f42;
}
.mobile-menu {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
}
.mobile-menu-container {
    position: relative;
}
.mobile-menu-close-btn {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid rgba(46, 47, 66, 0.1);
    background-color: transparent;
    line-height: 0;
    top: 24px;
    right: 8px;
}
.mobile-menu-nav {
    padding-top: 72px;
    margin-bottom: 168px;
}
.mobile-menu-list-item {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.mobile-menu-contacts-list-item {
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}
.mobile-menu-contacts {
    margin-bottom: 48px;
}
.accent-color {
    color: #404bbf;
}
.mobile-menu-soc-list {
    display: flex;
    gap: 24px;
}
.mobile-menu-link-list {
    display: flex;
}
.mobile-menu-list-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link-list-icon {
    fill: #F4F4FD;
}

@media screen and (min-width: 768px) {
.page-header {
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-navigation {
    display: flex;
    align-items: center;
}
.page-header-menu {
    display: flex;
    gap: 40px;
}
.menu-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus, 
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}
.current::after {
    content: "";
    position: absolute;
    background: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;
}

.contacts-nav {
    display: flex;
}
.comtacts {
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.open-menu-btn {
    display: none;
}
}
@media screen and (min-width: 1158px) {
    .contacts {
        display: flex;
        gap: 40px;
    }
}
/* ============ HERO STYLES ============ */
.hero {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    max-width: 320px;
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-container {
    padding-top: 72px;
    padding-bottom: 72px;
}
.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.order-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
    }
    .hero-container {
        padding: 112px 136px;
    }
    .main-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 1158px) {
    .hero { 
        max-width: 1440px;
    }
    .hero-container {
        padding-top: 188px;
        padding-bottom: 188px;
    }
    .main-title {
        margin-bottom: 48px;
    }
}
/* ============ BENEFITS ============ */

.benefits-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
}
.benefits-svg-icons {
    display: none; 
}
.benefits-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.benefits-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 72px;
        column-gap: 24px;
    }
    .benefits-item {
        flex-basis: calc((100% - 24px) / 2);
    }
   .benefits-list-title {
    text-align: left;
   }
   .benefits-item {
    width: calc((100% - 24px) / 2);
   }
}

@media screen and (min-width: 1158px) {
    .benefits-list {
        gap: 24px;
        flex-wrap: nowrap;
    }
    .benefits-item {
        width: calc((100% - 72px) / 4);
    }
    .benefits-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        min-width: 264px;
        height: 112px;
        margin-bottom: 8px;
        }
    .benefits-svg-icons {
            visibility: visible;
            display: block;
        }
    .benefits-list-text {
            margin-bottom: 0px;
        }
    }


/* ============ TEAM STYLES ============ */
.team {
    background-color: #f4f4fd;
}
.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list-title {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-size: 20px;
    margin-bottom: 8px;
}
.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.team-item {
    border-radius: 0px 0px 4px 4px;
    justify-content: center;
    background-color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.icons {
    width: 100%;
    margin-bottom: 32px;
}
.social-link-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 32px;
}

.soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
    background-color: #404bbf;
}

.social-list {
    fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }
    .portfolio-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .team {
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 24px;
    }
    .portfolio-list-item {
        flex-basis: calc((100% - 72px) / 4);
    }
}
/* ============ PORTFOLIO STYLES ============ */

.portfolio-main-header {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 36px;
    text-align: center;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}
.portfolio-list-item {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
}
.overlay-box {
    position: relative;
}
.overlay-content {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-left: 16px;
    margin-top: 32px;
    margin-bottom: 8px;

}
.portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-left: 16px;
        padding-bottom: 32px;

}
@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px 24px;
    }
    .portfolio-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .portfolio-list {
        row-gap: 48px;
        column-gap: 24px;
    }
    .portfolio-list-item {
        flex-basis: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-list-item:hover,
    .portfolio-list-item:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .overlay-box {
        cursor: pointer;
        overflow: hidden;
    }
    .overlay-content {
        visibility: visible;
        opacity: 1;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        font-size: 16px;
        padding: 40px 32px;
        background-color: #4D5AE5;
        overflow: auto;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-list-item:hover .overlay-content {
        transform: translateY(0%);
    }
}
/* ============ FOOTER STYLES ============ */
.page-bottom {
    background-color: #2e2f42;
    padding: 96px 0px;
}
.footer-column {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
}
.bottom-container {
    display: flex;
    flex-direction: column; 
}
.white-logo {
    color: #f4f4fd;
}
.logo-bottom {
    margin-right: auto;
    margin-left: auto;
}

.bottom-text {
    max-width: 288px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-right: auto;
    margin-left: auto;
}
.footer-socials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socials-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
}
.footer-social-link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.soc-links-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-links-item:hover,
.soc-links-item:focus {
    background-color: #404bbf;
}
.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
.footer-email-input {
    border: 1px solid #ffffff;
    width: 288px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.footer-email-input::placeholder {
    color #ffffff;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404bbf;
}
.subscribe-telegram-icon {
    margin-left: 16px;
}
@media screen and (min-width: 768px) {
    .footer-column {
        flex-direction: row;
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
    }
    .logo-bottom {
        margin-left: 0;
    }
    .socials-header {
        margin-left: 0;
    }
    .footer-subscribe-text {
        margin-left: 0;
    }
    .footer-subscribe-form {
        display: flex;
        gap: 24px;
    }
@media screen and (min-width: 1158px) {
    .footer-column {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}
}
/* ============ BACKDROP STYLES ============ */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 72px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 24px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    max-width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    padding: 0px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    stroke: #2e2f42;
    line-height: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-btn-icon,
.modal-close-button:focus .modal-close-btn-icon {
    fill: #FFFFFF;
}
.call-back-form-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    width: 256px;
    margin-right: auto;
    margin-left: auto;
}
.call-back-form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.call-back-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    margin-bottom: 8px;
    width: 256px;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-back-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}
.call-back-form-input:focus + .call-back-label-icon {
    fill: #4d5ae5;
}
.call-back-label-icon {
    position: absolute;
    fill: #2e2f42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-back-input-wrapper {
    position: relative;
    margin-bottom: 8px;
}
.call-back-comment-textarea {
    margin-bottom: 16px;
}
.call-back-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-comment:focus {
    border-color: #4d5ae5;
    outline: transparent;
}
.call-back-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    font-weight: 400;
}
.call-back-form-checkbox {
    margin-bottom: 24px;
}
.call-back-form-checkbox-label {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-weight: 400;
    line-height: 1.17;
}

.call-back-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link {
    line-height: 1.3;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    text-decoration: underline;
}

.call-back-form-checkbox {
    margin-top: 8px;
}

.call-back-checkbox:checked+.call-back-form-checkbox-label .call-back-own-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.call-back-checkbox:focus+.call-back-form-checkbox-label .call-back-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.call-back-btn-submit {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin-top: 24px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .modal {
        max-width: 408px;
    }
    .call-back-form-description {
        width: 360px;

    }
    .call-back-form-input {
        width: 360px;
    }
}
